@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  color-scheme: light dark;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
}

@theme {
  --color-bg: white;
  --color-text: #111;
  --color-bg-dark: #111;
  --color-text-dark: #f3f3f3;
}

.dark html {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}
